/* Container Styles */
/*
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}


.card {
    width: calc(20% - 20px); 
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardContent {
    padding: 10px;
}

.cardContent p {
    margin: 5px 0;
}

.deleteBtn {
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.deleteBtn:hover {
    background-color: #cc0000;
}
*/

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Card Styles */
.card {
    width: 200px; /* Set fixed width for the cards */
    height: 500px; /* Set fixed height for the cards */
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardContent {
    padding: 10px;
}

.cardContent p {
    margin: 5px 0;
}

.deleteBtn {
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.deleteBtn:hover {
    background-color: #cc0000;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Form Styles */
.form {
    margin-bottom: 20px;
}

.inputField {
    width: calc(33.333% - 10px);
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fileInput {
    margin-top: 10px;
    margin-bottom: 10px;
}

.addButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #0056b3;
}

/* Card Container Styles */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 5px;
}
